{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% block header %}Контакты{% endblock header %}

{% block content %}

<div class="card mt-4 mb-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Сморчков Марк</h5>
    <p class="card-text">Пин-24</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Телефон: +79181651110</li>
    <li class="list-group-item">Email: example@mail.ru</li>
  </ul>
</div>

{% endblock content %}


